In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.22.0)
Requirement already satisfied: six>=1.5 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
df = pd.read_csv('./What_We_Watched_A_Netflix_Engagement_Report_2023Jan-Jun.csv')
df.head()

,Title,Available Globally?,Release Date,Hours Viewed
0,The Night Agent: Season 1,Yes,2023-03-23,"812,100,000"
1,Ginny & Georgia: Season 2,Yes,2023-01-05,"665,100,000"
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,"622,800,000"
3,Wednesday: Season 1,Yes,2022-11-23,"507,700,000"
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"503,000,000"

## Cleaning dataset

### Title sanetization

In [ ]:
import re
def clean_title(title):
    # Regular expression to find ": season #" and remove it
    new_title = re.sub(r':\s*season\s*\d+|:\s*chapter(\s*\d+(-\d+)?)?|:\s*volume\s*\d+|//\s*.*?($|\n)', '', title, flags=re.IGNORECASE)
    return new_title

In [ ]:
df['Title'] = df['Title'].apply(clean_title)
df.head()

,Title,Available Globally?,Release Date,Hours Viewed
0,The Night Agent,Yes,2023-03-23,"812,100,000"
1,Ginny & Georgia,Yes,2023-01-05,"665,100,000"
2,The Glory,Yes,2022-12-30,"622,800,000"
3,Wednesday,Yes,2022-11-23,"507,700,000"
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"503,000,000"

In [ ]:
df.to_csv('./result1.csv', index=False)

NameError: name 'df' is not defined

In [ ]:

## Cleaning dataset 
### Cleaning ": Season #" endings 
import re
def clean_title(title):
    # Regular expression to find ": season #" and remove it
    new_title = re.sub(r':\s*season\s*\d+|:\s*chapter(\s*\d+(-\d+)?)?|:\s*volume\s*\d+|//\s*.*?($|\n)', '', title, flags=re.IGNORECASE)
    return new_title
df['Title'] = df['Title'].apply(clean_title)
df.head()

df.to_csv('./result1.csv', index=False)